html {
    height: 100%;
    background-color: ivory;
}

body {
    height: 100%;
    margin: 10% 20%;
}

.big-title {
    font-size: 50px;
    font-weight: bolder;
    margin: 125px 100px 75px 100px;
    display: flex;
    justify-content: center;
}

.strength-card {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

#about {
    display: flex;
}

#profile-image {
    width: 275px;
    height: auto;
    border-radius: 10px;
    /* float: left; */
}

#profile-text {
    font-size: 20px;
    margin-right: 30px;
    margin-top: 0px;
}

#strength {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}