html {
    height: 100%;
    /* background-color: ivory; */
}

body {
    height: 100%;
    margin: 0px;
    justify-content: center;
}

header {
    margin: 0px;
    padding: 20px 40px 0px 50px;
    color: rgb(0, 103, 172);
}

main {
    margin: 10% 20%;
}

footer {
    padding: 30px 20%;
    background-color: aliceblue;
    text-align: right;
}

.big-title {
    font-size: 50px;
    font-weight: bolder;
    margin: 150px 100px 75px 100px;
    display: flex;
    justify-content: center;
}
.big-title:nth-of-type(1) {
    margin: 90px 100px 75px 100px;
}

.subtitle {
    color: rgb(0, 131, 202);
    font-weight: bold;
}

.card {
    background-color: white;
    border: 2px solid rgb(0, 103, 172);
    padding: 15px 30px;
    border-radius: 10px;
}

.activity {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.timeline {
    color: gray;
    text-align: right;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cert {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 103, 172);
}

#about {
    display: flex;
}

#profile-image {
    width: 275px;
    height: auto;
    border-radius: 10px;
    /* float: left; */
}

#profile-text {
    font-size: 20px;
    margin-right: 50px;
    margin-top: 0px;
}

#certification {
    text-align: center;
}