html {
    height: 100%;
}

body {
    height: 100%;
    margin: 10% 20%;
}

#about {
    display: flex;
}

#profile-image {
    width: 275px;
    height: auto;
    border-radius: 10px;
    /* float: left; */
}

#profile-text {
    font-size: 20px;
    margin-right: 30px;
    margin-top: 0px;
}