html {
    height: 100%;
    background-color: ivory;
}

body {
    height: 100%;
    margin: 10% 20%;
    justify-content: center;
}

.big-title {
    font-size: 50px;
    font-weight: bolder;
    margin: 125px 100px 75px 100px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 10px;
}

.activity {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.timeline {
    color: gray;
    text-align: right;
}

.cert {
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: rgb(232, 194, 192);
}

#about {
    display: flex;
}

#profile-image {
    width: 275px;
    height: auto;
    border-radius: 10px;
    /* float: left; */
}

#profile-text {
    font-size: 20px;
    margin-right: 30px;
    margin-top: 0px;
}

#strength {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#certification {
    text-align: center;
}

#contact {
    /* border: 2px black dashed; */
    text-align: right;
    padding: 100px 30px;
}